<h1>Listing projects</h1>

<table>
  <tr>
    <th>V user data</th>
    <th>Name</th>
    <th>Desc</th>
    <th>V asset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @v_projects.each do |v_project| %>
  <tr>
    <td><%= v_project.v_user_data_id %></td>
    <td><%= v_project.name %></td>
    <td><%= v_project.desc %></td>
    <td><%= v_project.v_asset_id %></td>
    <td><%= link_to 'Show', v_project %></td>
    <td><%= link_to 'Edit', v_project %></td>
    <td><%= link_to 'Destroy', v_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_v_project_path %>
