<p id="notice"><%= notice %></p>

<p>
  <b>V user data:</b>
  <%= @v_project.v_user_data_id %>
</p>

<p>
  <b>Name:</b>
  <%= @v_project.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @v_project.desc %>
</p>

<p>
  <b>V asset:</b>
  <%= @v_project.v_asset_id %>
</p>


<%= link_to 'Edit', edit_v_project_path %> |
<%= link_to 'Index', v_projects_path %>
